<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>New revolution</title>
	<link rel="shortcut icon" href="fonts/favicon.ico">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-material-design.min.css">
	<link rel="stylesheet" href="css/ripples.min.css">
	<link rel="stylesheet" href="css/material-icons.css">	
	<link rel="stylesheet" href="css/framework.css"><!--头的架设-->
	<link rel="stylesheet" href="css/style.css">
	<!--[if IE]>
		<script src="../static/http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="header">
		<ul class="header-inner">
			<li class="menu-trigger" id="menu-trigger">
				<div id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: hidden">
					<svg width="1000px" height="1000px">
						<path id="pathA" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
						<path id="pathB" d="M 300 500 L 700 500"></path>
						<path id="pathC" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
					</svg>
					<button id="menu-icon-trigger" class="menu-icon-trigger"></button>
				</div><!-- menu-icon-wrapper-->
				<div id="dummy" class="dummy"></div><!-- dummy -->
			</li>
			<li class="logo hidden-xs"><a href="javascript:void(0);">13INT-1</a></li>
			<li class="pull-right">
				<ul class="top-menu">
					<li id="top-search"><a href="javascript:void(0);"><i class="material-icons">search</i></a></li>
					<li class="dropdown" id="info-btn" name="info-login"><a href="javascript:void(0);"><i class="material-icons">notifications</i></a>
						<div class="dropdown-menu dropMenu pull-right" id="info">
							 <div class="lv-header">
                  消息提醒                  
              </div>
              <div class="lv-body">                  
                <a class="lv-item" href="javascript:void(0);">
                    <div class="media">
                        <div class="pull-left">
                            <img class="lv-img-sm" src="images/1.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lv-title">David Belle</div>
                            <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                        </div>
                    </div>
                </a>
                <a class="lv-item" href="javascript:void(0);">
                    <div class="media">
                        <div class="pull-left">
                            <img class="lv-img-sm" src="images/1.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lv-title">David Belle</div>
                            <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                        </div>
                    </div>
                </a>
              </div>
              <div style="overflow: hidden;"><a class="lv-footer" href="javascript:void(0);">所有消息</a></div>
						</div><!--dropdown-menu end-->
					</li>
					<li class="hidden-xs chat-btn"><a href="javascript:void(0);" id="chat-btn"><i class="material-icons">comment</i></a></li>
					<!-- 登录前 -->
					<li class="loginBefore"><a th:href="@{/login}" class="login-register"><span>登录/注册</span></a></li>
				<!-- 登录后 -->
					<li id="top-user-btn" class="loginAfter" th:each="post:${posts}">
						<div class="user-headimg"><img th:src="@{http://oihey4yi1.bkt.clouddn.com/__${post.headimgfile}__}" alt=""></div>
						<div class="dropdown-menu dropMenu pull-right" id="top-user">
              <div class="lv-header">
                个人信息                  
              </div>
              <div class="lv-body">
                <div class="myInfo">
                  <div class="myphoto"> 
                    <div class="userhead" data-type="update_avatar"> 
                      <a th:href="@{/profile}" style="display:block;">
	                      <img th:src="@{http://oihey4yi1.bkt.clouddn.com/__${post.headimgfile}__}" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="myshow">
                    <div class="myname"><span th:text="${post.username}"></span></div>
                    <div class="Email"><span th:text="${post.usermail}"></span></div>
                    <div class="signature"><span th:text="${post.saying}"></span></div>
                    <a class="btn user-myprofile" th:href="@{/profile}">我的账户</a>
                    <a class="btn user-setting" th:href="@{/config}">设置</a>
                  </div>
                </div><!--myInfo end-->
              <div style="overflow: hidden;"><a class="lv-footer exit" href="javascript:void(0);">退出</a></div>
						</div><!--dropdown-menu end-->
					</li>
					<!-- 登录后 end-->
				</ul>
			</li>
		</ul>
		<div id="top-search-wrap">
			<div class="tsw-inner">
				<i class="material-icons top-search-btn">search</i>
        <form>
        	<input type="text" name="keyword">
        </form>
			</div><!--tsw-inner end-->
		</div><!--top-search-wrap end-->
	</div>
	<div id="main">
		<div class="leftmenu" id="leftmenu">
			<ul class="main-menu">
				<li class="btn btn-default"><a th:href="@{/}"><i class="material-icons">home</i>首页</a></li>
				<li class="btn btn-default"><a href="#"><i class="material-icons">message</i>班级公告</a></li>
				<li class="btn btn-default"><a th:href="@{/classPhoto}"><i class="material-icons">image</i>班级相册</a></li>
				<li class="btn btn-default"><a th:href="@{/party}"><i class="material-icons">supervisor_account</i>班级聚会</a></li>
				<li class="btn btn-default"><a href="#"><i class="material-icons">file_download</i>资料分享</a></li>
				<li class="btn btn-default"><a href="#"><i class="material-icons">swap_horiz</i>留言反馈</a></li>
			</ul>
		</div><!--leftmenu end-->
		<div class="leftmenu-mb" id="leftmenu-mb"></div><!--左菜单遮罩-->
		<!-- <div class="chat-mb" id="chat-mb"></div> -->
		<div class="chat hidden-xs" id="chat">
			占位  占位  占位  占位  占位
		</div><!--chat end-->
		<!---------- main in here ---------->
		<div class="container">
			<div class="col-md-4 pd8">
				<div class="slideTxtBox">
					<div class="hd"></div>
					<div class="bd">
						<ul>
							<a href="#" class="userMessage-action"><div class="userMessage c-shadow"><!--用户留言-->
								<div class="blog-article">
									<div class="head">
										<h3 class="blog-article-meta">
											<span class="blog-article-meta-type">Trends</span>
											<time class="blog-article-meta-pubdate">24.06.16</time>
											<span class="blog-article-meta-read-time">6 min read</span>
										</h3>
									</div><!--head end-->
									<div class="blog-article-content">Why Context is King with Sitecore’s Experience Platform</div>
									<div class="blog-article-author blog-article-author-column-3">
										<span class="blog-article-author-avatar-wrapper">
											<img class="blog-article-author-avatar" alt="" src="images/1.jpg" height="40" width="40">
										</span>
										<div class="blog-article-author-infos">
												<span class="blog-article-author-item blog-article-author-name">By Matt Barbelli</span>									
												<span class="blog-article-author-item blog-article-author-title">Managing Director</span>
										</div>
									</div>
								</div><!--blog-article end-->
							</div></a><!--userMessage end-->
						</ul>
						<ul>
							<a href="#" class="userMessage-action"><div class="userMessage c-shadow"><!--用户留言-->
								<div class="blog-article">
									<div class="head">
										<h3 class="blog-article-meta">
											<span class="blog-article-meta-type">Trends</span>
											<time class="blog-article-meta-pubdate">24.06.16</time>
											<span class="blog-article-meta-read-time">6 min read</span>
										</h3>
									</div><!--head end-->
									<div class="blog-article-content">Why Context is King with Sitecore’s Experience Platform</div>
									<div class="blog-article-author blog-article-author-column-3">
										<span class="blog-article-author-avatar-wrapper">
											<img class="blog-article-author-avatar" alt="" src="images/1.jpg" height="40" width="40">
										</span>
										<div class="blog-article-author-infos">
												<span class="blog-article-author-item blog-article-author-name">By Matt Barbelli</span>									
												<span class="blog-article-author-item blog-article-author-title">Managing Director</span>
										</div>
									</div>
								</div><!--blog-article end-->
							</div></a><!--userMessage end-->
						</ul>
						<ul>
							<a href="#" class="userMessage-action"><div class="userMessage c-shadow"><!--用户留言-->
								<div class="blog-article">
									<div class="head">
										<h3 class="blog-article-meta">
											<span class="blog-article-meta-type">Trends</span>
											<time class="blog-article-meta-pubdate">24.06.16</time>
											<span class="blog-article-meta-read-time">6 min read</span>
										</h3>
									</div><!--head end-->
									<div class="blog-article-content">Why Context is King with Sitecore’s Experience Platform</div>
									<div class="blog-article-author blog-article-author-column-3">
										<span class="blog-article-author-avatar-wrapper">
											<img class="blog-article-author-avatar" alt="" src="images/1.jpg" height="40" width="40">
										</span>
										<div class="blog-article-author-infos">
												<span class="blog-article-author-item blog-article-author-name">By Matt Barbelli</span>									
												<span class="blog-article-author-item blog-article-author-title">Managing Director</span>
										</div>
									</div>
								</div><!--blog-article end-->
							</div></a><!--userMessage end-->
						</ul>
					</div><!--bd-->
				</div><!--slideTxtBox-->
			</div><!--col-md-4 end-->

			<div class="col-md-6 pd8">
				<a href="#" class="party-action"><div id="party" class="party c-shadow"><!--班级聚会-->
					<img src="images/party.jpg" alt="" class="party-bg">
					<div class="info">Connecting you with us</div>
					<div class="more">
						<p>veiw work</p>
						<p><img src="images/view-work.png" alt=""></p>
					</div><!--more end-->
					<div class="mark"></div>
				</a></div><!--party end-->
			</div><!--col-md-6 end-->

			<div class="col-md-8 pd8">
				<div id="classPhoto" class="classPhoto c-shadow"><!--班级相册-->
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					  </ol>
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					    <div class="item active">
					      <a href="#"><img src="images/class-photo.jpeg" alt=""></a>
					      <div class="carousel-caption"></div><!--图片介绍-->
					    </div>
					    <div class="item">
					      <a href="#"><img src="images/class-photo.jpeg" alt=""></a>
					      <div class="carousel-caption"></div>
					    </div>
					    <div class="item">
					      <a href="#"><img src="images/class-photo.jpeg" alt=""></a>
					      <div class="carousel-caption"></div>
					    </div>
					  </div><!--carousel-inner end-->
						<!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right"></span>
					    <span class="sr-only">Next</span>
					  </a> -->
					</div><!--carousel end-->
				</div><!--classPhoto end-->
			</div><!--col-md-8 end-->

			<div class="col-md-4 pd8 pull-right">
				<a href="#" class="classNotice-action"><div class="classNotice c-shadow"><!--班级公告-->
					<div class="notice-img-div"><img src="images/work-thumbs-mds.jpg" alt=""></div>
					<div class="info">
						<div class="title">Media Design School</div>
						<div class="dec">Three years ago New Zealand's most awarded higher education institute for creative technology joined Laureate…</div><!--dec end-->
						<div class="more">View</div>
					</div><!--info end-->					
				</div></a><!--classNotice end-->
			</div><!--col-md-4 end-->

			<div class="col-md-2 pd8 flip-angle">
				<a href="#" class="dataShare-action flip-action-X"><!--资料分享-->
					<div class="flip-card c-shadow clear">
						<div class="flip dataShare"></div>
						<div class="flip-info dataShare flip-method-X">资料分享</div>
					</div><!--dataShare-card end-->
				</a><!--dataShare end-->

				<a href="#" class="member-action pd8 flip-action-X"><!--班级成员-->
					<div class="flip-card c-shadow">
						<div class="flip member"></div>
						<div class="flip-info member flip-method-X">班级成员</div>
					</div><!--flip-card end-->
				</a><!--member-action end-->
			</div><!--col-md-2 end-->

			<div class="col-md-6 pd8">
				<a href="#" class="discussion-action"><div class="discussion c-shadow"><!--话题讨论-->
					<img src="images/21.jpg" alt="" class="discussion-bg">
					<div class="title-frame">
						<p class="cn">话题讨论</p>
						<p class="en">Topic discussion</p>
					</div><!--title-frame end-->
					<div class="title-frame title-frame-copy">
						<p>We are family.</p>
						<p>So we're discussing it together.</p>
					</div>
					<div class="mark"></div>
				</div></a><!--discussion end-->
			</div><!--col-md-6 end-->

			<div class="col-md-2 pd8 flip-angle">
				<a href="#" class="chatRoom-action flip-action-Y"><!--聊天室-->
					<div class="flip-card c-shadow">
						<div class="flip chatRoom"></div>
						<div class="flip-info chatRoom flip-method-Y">聊天室</div>
					</div><!--flip-card end-->
				</a><!--chatRoom-action end-->
			</div><!--col-md-2 end-->			
		</div><!--container end-->

		<!---------- main in here  end---------->
	</div><!--main end-->
	<div id="footer">
		Copyright © 2016 13INT-1.TOP
    <ul class="f-menu">
        <li><a href="#">发送反馈</a></li>
        <li><a href="#">帮助</a></li>
        <li><a href="#">联系我们</a></li>
    </ul>
	</div><!--footer end-->

	<!-- Page Preloader -->
	<div class="animationload">
	  <div class="loader">
	    <svg class="circular" viewBox="25 25 50 50">
	      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="1"/>
	    </svg>
	    <p>Loading...</p>
	  </div>
	</div>
	<!-- Page Preloader end-->
	
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/material.min.js"></script>
	<script src="js/ripples.min.js"></script>
	<script>$.material.init()</script>
	<!--messenger-->
	<link rel="stylesheet" href="js/messenger/messenger.css">
	<link rel="stylesheet" href="js/messenger/messenger-theme-future.css">
	<script src="js/messenger/messenger.min.js"></script>
	<!--menu-icon-wrapper-->
	<link rel="stylesheet" type="text/css" href="js/menu-icon/normalize.css" />
	<link rel="stylesheet" type="text/css" href="js/menu-icon/component.css" />
	<script src="js/menu-icon/segment.min.js"></script>
	<script src="js/menu-icon/ease.min.js"></script>
	<script src="js/menu-icon/main.js"></script>
	<!--menu-icon-wrapper end-->
	<script src="js/header_main.js"></script><!--header按钮响应-->
	<script>$('.carousel').carousel({ interval: 4000 }) //班级相册轮播时间  </script>
	<script src="js/jquery.SuperSlide.2.1.1.js"></script>
	<script>jQuery(".slideTxtBox").slide({effect:"top",autoPlay:true,delayTime:1000});</script>
	<script>
	$(document).ready(function(){
		$.ajax({
		      type: "POST",
		      contentType : "application/json;charset=utf-8",
		      dataType:"json",
		      url: "/index_session",
		      async: true,
		      data:{},
		      error:function (XMLHttpRequest, textStatus, errorThrown) {
		    	  alert(XMLHttpRequest + textStatus + "error");
		    	},
		      success: function(data){
		    	  if(data.msg == "no session"){
		    		  $('#party').click(function(){
			    			$._messengerDefaults = {
			    					extraClasses: 'messenger-fixed messenger-theme-future messenger-on-top'
			    				};
			    			 $.globalMessenger().post({
			    		            message: "您还没有登录，请登录后再试",
			    		            hideAfter: 3,
			    		            type: 'error',
			    		            //showCloseButton: true
			    		        });
		    			});
		    		  $('#classPhoto').click(function(){
			    			$._messengerDefaults = {
			    					extraClasses: 'messenger-fixed messenger-theme-future messenger-on-top'
			    				};
			    			 $.globalMessenger().post({
			    		            message: "您还没有登录，请登录后再试",
			    		            hideAfter: 3,
			    		            type: 'error',
			    		            //showCloseButton: true
			    		        });
		    		  });
		    			$('.loginAfter').css('display','none');
		    			$('.loginBefore').css('display','block');
		    	  }else if(data.msg == "have session"){
		    		  $('#party').click(function(){
		    			  window.location.href = "/party";
		    		  });
		    		  $('#classPhoto').click(function(){
		    			  window.location.href = "/classPhoto";
		    		  });
		    		  $('.loginAfter').css('display','block');
		    		  $('.loginBefore').css('display','none');
		    	  }
		      }
		  });
	});
/*	$('#party').click(function(){
		$.ajax({
		      type: "POST",
		      contentType : "application/json;charset=utf-8",
		      dataType:"json",
		      url: "/party_session",
		      async: true,
		      data:{},
		      error:function (XMLHttpRequest, textStatus, errorThrown) {
		    	  alert(XMLHttpRequest + textStatus + "error");
		    	},
		      success: function(data){
		    	  if(data.msg == "no session"){
		    			$._messengerDefaults = {
		    					extraClasses: 'messenger-fixed messenger-theme-future messenger-on-top'
		    				};
		    			 $.globalMessenger().post({
		    		            message: "您还没有登录，请登录后再试",
		    		            hideAfter: 3,
		    		            type: 'error',
		    		            //showCloseButton: true
		    		        });
		    	  }else if(data.msg == "have session"){
		    		  window.location.href = "/party";
		    	  }
		      }
		  });
	});
	
	$('#classPhoto').click(function(){
		$.ajax({
		      type: "POST",
		      contentType : "application/json;charset=utf-8",
		      dataType:"json",
		      url: "/photo_session",
		      async: true,
		      data:{},
		      error:function (XMLHttpRequest, textStatus, errorThrown) {
		    	  alert(XMLHttpRequest + textStatus + "error");
		    	},
		      success: function(data){
		    	  if(data.msg == "no session"){
		    			$._messengerDefaults = {
		    					extraClasses: 'messenger-fixed messenger-theme-future messenger-on-top'
		    				};
		    			 $.globalMessenger().post({
		    		            message: "您还没有登录，请登录后再试",
		    		            hideAfter: 3,
		    		            type: 'error',
		    		            //showCloseButton: true
		    		        });
		    	  }else if(data.msg == "have session"){
		    		  window.location.href = "/classPhoto";
		    	  }
		      }
		  });
	});
*/
	
	$('.exit').click(function(){
		$.ajax({
		      type: "POST",
		      contentType : "application/json;charset=utf-8",
		      dataType:"json",
		      url: "/exit",
		      async: true,
		      data:{},
		      error:function (XMLHttpRequest, textStatus, errorThrown) {
		    	  alert(XMLHttpRequest + textStatus + "error");
		    	},
		      success: function(data){
		    	  if(data.msg == "no session"){
		    			$._messengerDefaults = {
		    					extraClasses: 'messenger-fixed messenger-theme-future messenger-on-top'
		    				};
		    			 $.globalMessenger().post({
		    		            message: "您还没有登录，请登录后再试",
		    		            hideAfter: 3,
		    		            type: 'error',
		    		            //showCloseButton: true
		    		        });
		    	  }else if(data.msg == "success exit"){
		    		  window.location.href = "/";
		    	  }
		      }
		  });
	});
	</script>
</body>
</html>