<meta charset="UTF-8" />
<div class="grid__item" data-size="1000x1000"
	th:each="listphoto:${list}">
	<a th:href="@{http://localhost/upload/__${listphoto.address}__}"
		class="img-wrap c-shadow"><img
		th:src="@{http://localhost/upload/__${listphoto.address}__}" alt="" />
		<div class="description description--grid">
			<h3>班级相册</h3>
			<p>
				顾名思义即同学之间的聚会，其意含同学之间的离别，有短暂的分开后的再相聚，也有分别多年后同学再次相聚，其中也暗含对分别多年后再次相聚的一种莫名复杂的情感。
				<em>&mdash;&mdash; 林晓鑫</em>
			</p>
			<div class="details">
				<ul>
					<li><span>2016.10.20 23:00</span></li>
					<li><span>105KB</span></li>
				</ul>
			</div>
		</div> </a>
</div>